.adresse
.passwd
.adresse-yvan
.passwd-yvan
.adresse-mamie
.passwd-mamie
.adresse-yvan_rasp
.passwd-yvan_rasp
.adresse-mamie_rasp
.passwd-mamie_rasp
.adresse-gerobum
.passwd-gerobum
javax.mail.jar
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/